# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/VisualStudio/x64
/VisualStudio/Release
/VisualStudio/Debug
/stage/DSBee.pdb
/stage/DSBee.exp
/stage/DSBee.ilk
/stage/DSBee.iobj
/stage/DSBee.ipdb
/stage/DSBee.lib
/VisualStudio/.vs
